body {
margin: 0;
padding: 0;
font-family: Merriweather;

}
table{
	border-collapse: collapse; 
	
}
.top{
width: 100%;
background: #F0E68C ;
height: 60px;
}
a{
 text-decoration: none;
}
a.a{
	color: #D2691E;
	
}
a.a1{
	color:#5F9EA0;
	

}
.glav1{
	margin-bottom: -36px;
	margin-right: 300px;
	font-size: 40px;
	justify-content: center;
	display: flex;
	width: 900px;
	margin-top: -1px;
}
.glav{
display: flex;
font-size: 17px;
float: right;
flex direction: row ;
justify-content: flex-start;
margin-right: 40px;
}
.utop{
width: 100%;
background:white ;
height: 40px;
display: flex;
align-items: center;
flex-direction: row;
margin-top: 12px;
}
.a1{
	padding-left: 15px;
}
.osnov{
display: flex;
flex-direction:row;
align-items: flex-start;
justify-content: center;
width: 100%;
}
.osnov, .osnov1, .osnov2{
height: 550px;
}
.osnov1, .osnov2{
width: 50%;
}
.osnov1{
background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url(george-bakos-dNIGgfmeWHM-unsplash.jpg) 0 0 /100% 100%;
text-align: center;
}
.osnov2{
background:#FFFACD;	
text-align: center;
}
.text1{
color: white;
padding-top: 150px;
}
.text2{
color: white;
font-size: 20px;
}
.text3{
	
padding-top: -20px;

border-bottom: 1px solid black;
	border-right: 1px solid black;
    border-radius: 70%;
    border-left: 1px solid black;
}
.text4{
font-size: 20px;
}

.otzivi{
	width: 100%;
	display: flex;
}
.otzivi, .otzivi1{
	height:270px;
}
.otzivi1{
border: 1px solid black;
border-radius: 4%;
width: 25%;
background:#FFFACD;

}
.img{
	width: 70px;

}
.img1, .img2{
	position: relative;

}
.img2{
margin: right;
float: right;

}
.ackcia{
display: flex;
width: 100%; 
height: 296px;
border: 1px #FAFAD2;
}
.img1{
	margin-left: 50px;
}
.ackcia1, .ackcia2{
	background:#FFFACD;
}
.ackcia1{
width: 50%;
}
.ackcia2{
width: 70%;
}
.photo{
width: 100%;
display: flex;
flex-direction:row;
align-items: flex-start;
justify-content: center;

}
.photo1{
width: 33.3%;
background:#FFFACD;	
text-align: justify;
}
.photo2{
width: 33.3%;
background:#FFFACD;	
text-align: right;

}
.photo, .photo1{
height: 630px;
}
li{
	padding-left: 10px;
	color:#D2691E;
}
.podtop{
 height: 40px;
 width: 100%;
 background: #FFFACD;
}
.podval{
	width: 100%;
	background:#333840;
	height: 60px;
	color: white;
	display: flex;
}
.podval2{
	margin-top: 20px;
	margin-left: 10px;
}
